# Core functionality - changes here should be rare!
/src/app.py                   @swatisannidhi
/src/backend/database.py      @swatisannidhi
/src/backend/routers/auth.py  @swatisannidhi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @swatisannidhi
